<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/task
   		http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://code.alibabatech.com/schema/dubbo        
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		
	<!-- 扫描 @Contr -->	
	<context:component-scan base-package="cn.itcast" />
	<!-- 处理器 映射器  适配器 -->
	<mvc:annotation-driven/>

	<!--静态资源放过-->
	<mvc:default-servlet-handler/>
	<context:annotation-config/>

	<!-- 视图解释器 jsp -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/console/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<!--上传图片-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>

	<mvc:view-controller path="/control/index.do" view-name="index"/>
	<mvc:view-controller path="/control/top.do" view-name="top"/>
	<mvc:view-controller path="/control/main.do" view-name="main"/>
	<mvc:view-controller path="/control/right.do" view-name="right"/>
	<mvc:view-controller path="/control/left.do" view-name="left"/>

	<mvc:view-controller path="/control/frame/product_main.do" view-name="frame/product_main"/>
	<mvc:view-controller path="/control/frame/product_left.do" view-name="frame/product_left"/>
	<mvc:view-controller path="/control/frame/order_main.do" view-name="frame/order_main"/>
	<mvc:view-controller path="/control/frame/order_left.do" view-name="frame/order_left"/>
	<mvc:view-controller path="/brand/toAdd.do" view-name="brand/add"/>





	<import resource="dubbo-consumer.xml"/>
	
	
</beans>
